*{
    margin:0;
    padding:0;
    font-size:0;
    list-style:none;
}
.main{
    position: relative;
    width:290px;
    margin: 100px auto;
    border: 4px solid;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) 10;
    -webkit-border-image: -webkit-linear-gradient(black, blue) 10;
         -o-border-image: -o-linear-gradient(black, blue) 10;
            border-image: -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) 10;
            border-image: linear-gradient(black, blue) 10;
            font-size: 0;
            overflow: hidden;
}
.main .left{
    float:left;
    width:200px;
    height:500px;
}
.main .aside{
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    border-left:4px solid;
    float:right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:90px;
    height: 500px;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) 10;
    -webkit-border-image: -webkit-linear-gradient(black, blue) 10;
         -o-border-image: -o-linear-gradient(black, blue) 10;
            border-image: -webkit-gradient(linear, left top, left bottom, from(black), to(blue)) 10;
            border-image: linear-gradient(black, blue) 10;
    color:black;
   font-size:0;
}
.main .aside span{
    display: block;
    font-size: 12px;
}
.main .aside h5{
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.start{
    position: absolute;
    top: 235px;
    left: 52px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background:rgba(0,0,0,.9);
    color:#fff;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}
.debug{
    position: fixed;
    top: 50px;
    right: 50px;
    padding: 4px;
    color: #fff;
    font-size: 12px;
    background: #000;
    border-radius: 5px;
}